.main-nav {
  padding-top: 35px;
  padding-bottom: 33px;
  min-height: 32px;
  display: grid;
  grid-template-columns: 1fr auto 261px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    position: relative;
  }
}

.main-nav__logo {
  padding-top: 4px;

  @media (max-width: $tablet-width) {
    padding-top: 17px;
    padding-left: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 18px;
    padding-left: 16px;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    height: 50px;
    border: none;
    cursor: pointer;
    position: relative;
  }
}

.main-nav--closed {
  .main-nav__toggle {
    @media (max-width: $tablet-width) {
      width: 72px;
      background-color: $accent;
    }

    @media (max-width: $mobile-width) {
      width: 50px;
    }
  }

  .main-nav__toggle::before {
    @media (max-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 10px;
      right: 21px;
      width: 30px;
      height: 30px;
      background-image: url("../img/open.svg");
    }

    @media (max-width: $mobile-width) {
      right: 10px;
    }
  }
}

.main-nav--opened {
  .main-nav__toggle {
    @media (max-width: $tablet-width) {
      width: 50px;
      background-color: $white;
    }
  }

  .main-nav__toggle::before {
    @media (max-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      background-image: url("../img/close.svg");
    }
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

.main-nav__contacts {
  padding-left: 31px;
  padding-right: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: $darkest;

  &:hover {
    color: $accent;

    .main-nav__icon {
      stroke: $accent;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__icon {
  fill: none;
  stroke: $darkest;
}
