.main-footer {
  display: grid;
  grid-template-columns: 387px 397px 1fr;
}

.main-footer__item:not(:last-child) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 189px;
    background-color: $lightgrey;
  }
}
