.main-footer {
  display: grid;
  grid-template-columns: 387px 397px 1fr;

  @media (max-width: $tablet-width) {
    grid-template-columns: 54% 46%;
    grid-template-rows: auto auto;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}
