.main-footer__container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 74px;
  display: grid;
  grid-template-columns: 387px 397px 1fr;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 54px;
    grid-template-columns: 54% 46%;
    grid-template-rows: auto auto;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 26px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}
