.page {
  height: 100%;
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.page__body {
  min-width: 1920px;
  margin: 0;
  padding: 0;
  color: $dark;
  background-color: $white;
}
