.special-offer {
  padding-left: 55px;
  padding-right: 11px;
}

.special-offer__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.special-offer__text {
  font-size: 14px;
  line-height: 24px;
}
