// Font //

$fontFamily: "Montserrat", "Arial", sans-serif;

// Colors //

$white: #ffffff;
$accent: #fe7865;
$accent-hover: #f17d4b;
$darkest: #141517;
$dark: #2c2e3f;
$black: #000000;
$lightgrey: #d7d9df;
$light: #fbf8f8;
$background: #497597;

// Viewports //

$tablet-width: 1023px;
$mobile-width: 767px;
